node_modules
# Keep environment variables out of version control
.env

/generated/prisma

/Docker 

/front/backlog
/front/backlog/.vscode 
/front/backlog/.env
/front/backlog/.gitignore
/front/backlog/.next
/front/backlog/node_modules/
/front/backlog/.env.local
/front/backlog/.env.development.local
/front/backlog/.env.test.local
/front/backlog/.env.production.local
